body, html {
    background:url(./assets/background.jpg) repeat repeat center center fixed;
    background-size:92% auto;
}

.menu-button {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-button:focus {
    outline: none;
}

.menu-button:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
}

.menu-button .second {
    transition: 0.5s;
    margin-right: 0px;
}

.menu-button:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.status-text {
    position:absolute;
    font-size:80px;
    color: #fff;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
}

.status-text-shadow {
    position:absolute;
    font-size:80px;
    color: #000;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}

.title-text {
    position:absolute;
    font-size:150px;
    color: #fff;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 3;
}

.title-text-shadow {
    position:absolute;
    font-size:150px;
    color: #000;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}